.W {
  /* background-color: #eeedd7; */
  background: linear-gradient(to top, #ffffff99, #ffffff99),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/W.svg);
}

.U {
  /* background-color: #aad9ed; */
  background: linear-gradient(to top, #ffffff99, #ffffff99),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/U.svg);
}

.B {
  /* background-color: #c3b9b5; */
  background: linear-gradient(to top, #ffffff99, #ffffff99),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/B.svg);
}

.R {
  /* background-color: #e8a68c; */
  background: linear-gradient(to top, #ffffff99, #ffffff99),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/R.svg);
}

.G {
  /* background-color: #9bd2b0; */
  background: linear-gradient(to top, #ffffff99, #ffffff99),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/G.svg);
}

.M {
  background-color: #d5c599;
}

.C {
  /* background-color: #d1d4d9; */
  background: linear-gradient(to top, #ffffff80, #ffffff80),
    url(https://c2.scryfall.com/file/scryfall-symbols/card-symbols/C.svg);
}
