.W {
  background-color: #eeedd7;
}

.U {
  background-color: #aad9ed;
}

.B {
  background-color: #c3b9b5;
}

.R {
  background-color: #e8a68c;
}

.G {
  background-color: #9bd2b0;
}

.M {
  background-color: #d5c599;
}

.C {
  background-color: #d1d4d9;
}
